*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #2E2622;
    align-items: center;
    padding: 18px 8%; 

}

.logo{
    display: flex;
    gap: 20px;
    align-items: center;
    color:#E9B44C ;

}

.ul{
    display: flex;
    list-style:none;
    gap: 20px;
    color:#FBF6EF ;


}