*{
    margin: 0;
    padding: 0;
}

section{
    padding: 80px 8%;
}


.coffee-color{
    color: #E9B44C;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #2E2622;
    align-items: center;
    padding: 18px 8%; 

}

.logo{
    display: flex;
    gap: 20px;
    align-items: center;
    color:#E9B44C ;

}

.ul{
    display: flex;
    list-style:none;
    gap: 20px;
    color:#FBF6EF ;

}



/* header start */

header{
    background-image: linear-gradient(rgb(0,0,0,0.6), rgba(0,0,0,0.6)), url(./image/bg-image.avif);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.header-content{
  color: white;
  text-align: center;
  display: grid;
  gap: 20px;
}

.header-content button{
    width: 20%;
    margin-left: 40%;
    padding: 10px 8px;
    background-color: #E9B44C;
    border-radius: 18px;
    border: none;
}


/* our story secction  */

.our-story{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

}

.our-story div img {
    width: 100%;
    border-radius: 12px;
}

.our-story , 
.right-side {
    display: grid;
    align-items: center;

}

.right-side div h2 {
    padding-bottom: 12px;
}

.right-side div p {
    padding-bottom: 12px;
}

.right-side div button{
    padding: 10px 12px;
    border-radius: 18px;
    background-color: #E9B44C;
    border: none;
}


/* Our menu section */

.popular-bg{
    background-color: #F1E7D8;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 70px;
}

.card-container .card{
    background-color: #FFFFFF;
    text-align: center;
    padding: 25px;
    border-radius: 12px;

}

.our-menu-top{
    text-align: center;
}

.card img {
    padding-bottom: 12px;
}

.card h1 {
    padding-bottom: 12px;
}

.card p {
    padding-bottom: 12px;
}



